.Table {
  width: 70vw;
  margin-left: 20vw;
}
.tableColumnName {
  background-color: #adcbe3;
}
.transactionTitle {
  width: 10vw;
  margin-left: 50vw;
  font-weight: bold;
  font-size: 30px;
}
.imgOwnerAvatar {
  width: 60px;
  height: 60px;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  margin-left: 3vw;
}
